.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #131316;
}

.mainWrapper {
    position: relative;
    width: 100vw;
    height: calc(100vh - 88px);
}

.mainContainer {
    position: absolute;
    width: 480px;
    height: 430px;
    left: calc(50% - (480px / 2));
    top: calc(50% - (430px / 2));
}

.title {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}